

.floorButtons
{
    -fx-background-color: #e0d8d8;
    -fx-background-radius: 25px;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
}



.directionalTriangle {
    -fx-fill: #e0d8d8;
    -fx-fill-height: 25px;
}

.floorGrid
{
    -fx-border-width: 1 0 1 0;
    -fx-border-color: black;
}